body {
  padding: 0;
  margin: 0;
}

.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 100%;
  background: red;
  padding: 0 15px;
}

.item {
  flex-grow: 1;
  margin: 0 10px;
  background: blue;
}

.photo {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  background: black;
}

.photo2 {
  width: 100%;
  height: 700px;
  margin-bottom: 20px;
  background: grey;
}

.photo3 {
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
  background: tomato;
}